/******************************************************
** Reset
******************************************************/
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

a{text-decoration:none;}
img{max-width:100%;}


/******************************************************
** Style
******************************************************/

@font-face {
    font-family: "default";
    src: url('../font/dejavu/DejaVuSans.ttf');
}

body {
	font-family: "default", "Bitstream Vera Sans", "Geneva", sans-serif;
	text-align:left;
	margin-top: 7.2em;
}

section {
	width: 80%;
	margin: auto;
}

h1 {
	text-align: center;
	background-color: black;
	color: #fc8e03;

	font-size:1.7em;
	line-height: 2em;
	font-weight: bold;

	margin: 1em auto;
}

h2, h3 {
	font-size:1.4em;
	line-height: 1.6em;
	font-weight: bold;
	margin: 0.5em auto;
}

p, ul {
	color:#555;
	font-size:1em;
	line-height: 1.2em;
	margin: 0.5em 2em;
}

li {
	line-height: 1.6em;
	text-indent: 2em;
}

li:before {
	content: "\00a0";
	background-color: #fc8e03;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}

/**************************************
** Header & footer
**************************************/

footer, header{
	text-align: center;
	padding: 0.6em;
	margin:auto;
	background: #ECECEC;
	width: 100%;
	font-size: 16px;
}

header {
	top: 0;
	z-index: 100;
	position: fixed;
	height: 5em;
}

header .logoBlock { 
	padding: 0;
	color: black;
	text-align: left;
	margin: auto;
	width: 30%;
}

header .logoBlock h2 {
	font-size: 1em;
	line-height: 1em;
	text-indent: 2em;
} 

header .logoBlock a {
	width : 300px;
	height: 50px;
	text-indent: -9999px;
	background-image: url("../media/logo/logoTA_main_1-2_SF.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
}
