/**************************************
** Gestion du slider Tool-Add

** Doc
		http://learn.shayhowe.com/advanced-html-css/transitions-animations/
		http://www.justinaguilar.com/animations/

** TODO
	- enhance genericity
**************************************/


/**************************************
** Positions
**************************************/

#ta_slider {
	width: 100%;
}

#ta_slider .slide, #ta_slider .slide .text, #ta_slider .slide .link,
#ta_slider .slide .text h2, #ta_slider .slide .text p {
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: normal;
}


/* slide superposition */
#ta_slider .slide {
	top: 45%;
	min-height: 16em;
	overflow: hidden;
}

/* animated lines */
.slide .text, .slide .link, .slide h2, .slide p {
	opacity: 0;
}

#ta_slider .slide .text {
  height: 8em;
}
#ta_slider .slide p {
  margin-top: 2em;
}
#ta_slider .slide .link {
  margin: 10em 0 0 0;
}


/**************************************
** Animations
**************************************/

#ta_slider .slide:nth-child(1) h2 {
  animation: slide_from_right 15s ease-in-out 0s infinite normal;
}
#ta_slider .slide:nth-child(1) p {
  animation: slide_from_bottom_right 15s ease-in-out 0s infinite normal;
}
#ta_slider .slide:nth-child(1) .link, #ta_slider .slide:nth-child(1) .text {
  animation: slide_from_middle 15s ease-out 0s infinite normal;
}

#ta_slider .slide:nth-child(2) h2 {
  animation: slide_from_right 15s ease-in-out 5s infinite normal;
}
#ta_slider .slide:nth-child(2) p {
  animation: slide_from_bottom_right 15s ease-in-out 5s infinite normal;
}
#ta_slider .slide:nth-child(2) .link, #ta_slider .slide:nth-child(2) .text {
  animation: slide_from_middle 15s ease-out 5s infinite normal;
}

#ta_slider .slide:nth-child(3) h2 {
  animation: slide_from_right 15s ease-in-out 10s infinite normal;
}
#ta_slider .slide:nth-child(3) p {
  animation: slide_from_bottom_right 15s ease-in-out 10s infinite normal;
}
#ta_slider .slide:nth-child(3) .link, #ta_slider .slide:nth-child(3) .text {
  animation: slide_from_middle 15s ease-out 10s infinite normal;
}


/**********************************************************
** Keyframes (for three alternating elements)
**********************************************************/

@keyframes slide_from_middle {
	0% {
  	left: 0;
  	opacity: 0;
    z-index: -100;
	}
	5% {
  	left: 0;
  	opacity: 1;
    z-index: 10;
	}
	26% {
  	left: 0;
  	opacity: 1;
    z-index: 10;
	}
	33% {
  	left: -200%;
  	opacity: 0;
    z-index: -100;
	}
  100% {
  	left: -200%;
  	opacity: 0;
    z-index: -100;
	}
}

@keyframes slide_from_right {
	0% {
  	left: 100%;
  	opacity: 0;
    z-index: -100;
	}
	7% {
  	left: 0;
  	opacity: 1;
    z-index: 10;
	}
	26% {
  	left: 0;
  	opacity: 1;
    z-index: 10;
	}
	33% {
  	left: -100%;
  	opacity: 0;
    z-index: -100;
	}
	100% {
  	left: -100%;
  	opacity: 0;
    z-index: -100;
	}
}

@keyframes slide_from_bottom_right {
	0% {
  	left: 100%;
  	margin-top: 10%;
  	opacity: 0;
    z-index: -100;
	}
	7% {
  	left: 0;
  	margin-top: 3em;
  	opacity: 1;
    z-index: 10;
	}
	26% {
  	left: 0;
  	margin-top: 3em;
  	opacity: 1;
    z-index: 10;
	}
	33% {
  	left: -100%;
  	margin-top: 10%;
  	opacity: 0;
    z-index: -100;
	}
	100% {
  	left: -100%;
  	margin-top: 10%;
  	opacity: 0;
    z-index: -100;
	}
}
