/******************************************************
** Reset
******************************************************/
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

a{text-decoration:none;}
img{max-width:100%;}



/******************************************************
** font
******************************************************/

@font-face {
    font-family: "default";
    src: url('../font/dejavu/DejaVuSans.ttf');
}

@font-face {
    font-family: "title";
    src: url('../font/dejavu/DejaVuSerif.ttf');
}

body{
	font-family: "default", "Bitstream Vera Sans", "Geneva", sans-serif;
}
h3, h2, h1{
	font-family: "title";
}                  
p, dd, li{
	font-family: "default";
}

/******************************************************
** Styles principaux
******************************************************/

.main{
	padding-bottom: 2em;
}

article {
	text-align: center;
	padding: 5em 0 1em 0;
	overflow: hidden;
}

div.column img {
	display:block;
	border-radius: 7px 7px 0 0;
	width: 100%;
}

/* icons */
i {
	position: absolute;	
	width: 105px;
	height: 105px;
	top: -52.5px;
	left: calc(50% - 52.5px);
}

i.applications {
	background: url(../media/icon/section_sprite.png)-46px -260px;
}
i.site {
	background: url(../media/icon/section_sprite.png)-283px -138px;
}
i.formation {
	background: url(../media/icon/section_sprite.png)-520px -138px;
}
i.support {
	background: url(../media/icon/section_sprite.png)-164px -258px;
}
i.reseau {
	background: url(../media/icon/section_sprite.png)-45px -140px;
}
i.collaboration {
	background: url(../media/icon/section_sprite.png)-403px -260px;
}
i.conception {
	background: url(../media/icon/section_sprite.png)-282px -260px;
}
i.management {
	background: url(../media/icon/section_sprite.png)-520px -260px;
}

.column, .line {
	border-radius: 7px;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin: 4em 3%;
	position:relative;
	max-width: 28em;
}

.line>* {
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	max-width: 40em;
}

/* one item */
.line>*:nth-child(1):nth-last-child(1) {
	width: 90%;
	margin: 0 3%;
}

/* two items */
.line>*:nth-child(1):nth-last-child(2),
.line>*:nth-child(2):nth-last-child(1) {
	width: 42%;
	margin: 0 2%;
}

/* three items */
.line>*:nth-child(1):nth-last-child(3),
.line>*:nth-child(2):nth-last-child(2),
.line>*:nth-child(3):nth-last-child(1) {
	width: 30%;
	margin: 0 1%;
}


/* TODO : revoir l'organisation des sections / articles / etc. */
section {
	line-height:1.2em;
	padding:1em;
}	

section.desc {
	/*height:15em;*/
}

h1, h2, h3 {
	font-size:1.4em;
	text-align:center;
	line-height: 1.6em;
	font-weight: bold;
	margin: 0.5em 0;
}

article p, article ul, article dl {
	color:#444;
	font-size:1em;
	/*padding: 0.5em 2em;*/
}

.line p {
	text-align:justify;
}

ul, dl, .line p {
	line-height:1.4em;
	margin: 1em 0;
}

ul {
	text-align:center;
}
dl {
	text-align: left;
}
dl dt, dl dd, ul li {
	margin-bottom: 0.4em;
}

dl dt {
	font-weight: bold;
	color: black;
}
dl dd {
	padding-left: 3%;
}

article>h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.7em;
	
	width: 100%;
	margin: 2em 0;
	color: black;
}

/*TODO : review article description*/
article .description {
	margin: -2em auto 2em auto;
	width: 80%;
	max-width: 50em;
	line-height: 1.2em;
}

article[id]>h1::before, article[id]>h1::after {
	content: "\00a0";
	display: inline-block;
	width: 30%;
	margin: 0 3%;
	height: 0.8em;
	vertical-align: top;
}

/* pages */

#activity>h1::before, #activity>h1::after {
	border-bottom: 2px #fc8e03 solid;
}
#activity h2 {
	color:#fc8e03;
}
#activity div section {
	box-shadow: 1px 1px 6px 0px #fc8e03;
}

#corporate>h1::before, #corporate>h1::after {
	border-bottom: 2px #fc8e03 solid;
}
#corporate h2 {
	color:#fc8e03;
}
#corporate div section {
	box-shadow: 1px 1px 6px 0px #fc8e03;
}

#contact>h1::before, #contact>h1::after {
	border-bottom: 2px #fc8e03 solid;
}
#contact h2  {
	color:#fc8e03;
}
#contact section {
	box-shadow: 1px 1px 6px 0px #fc8e03;
}
#contact p {
	text-align: center;
}

#service>h1::before, #service>h1::after {
	border-bottom: 2px #fc8e03 solid;
}
#service h2 {
	color:#fc8e03;	
}
#service>div {
	box-shadow: 0.5px 5px 6px 0px #fc8e03;
}

#techno>h1::before, #techno>h1::after {
	border-bottom: 2px #273ca8 solid;
}
#techno h2 {
	color: #273ca8;
}
#techno>div {
	box-shadow: 0.5px 5px 6px 0px #273ca8;
}

#management>h1::before, #management>h1::after {
	border-bottom: 2px #5CD61A solid;
}
#management h2 {
	color:#5CD61A;
}
#management>div {
	box-shadow: 0.5px 5px 6px 0px #5CD61A;
}

/**************************************
** Slider
	- see javascript for background
	- see slider.css for position and animations
**************************************/
#ta_slider {
	background-image: url(../media/image/ardoise.jpg);
	background-size : 100%;
	background-repeat: no-repeat;
}

#ta_slider .slide .text {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	/*text-align: center;*/
	line-height: normal;
}

#ta_slider .slide h2 {
	font-size: 1.7em;
}

#ta_slider .slide p {
	font-size: 1.2em;
}


/**************************************
** Header & footer
**************************************/

footer, header{
	text-align: center;
	padding: 0.6em 0;
	margin:auto;
	background: #ECECEC;
	width: 100%;
}

header {
	width: 100%;
	top: 0;
	z-index: 100;
	position: fixed;
	color: white;
}

header>* {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

header .logoBlock>* {
	display: block;
	font-size: 16px;
}

header h2 { 
	padding: 0;
	color: black;
	text-align: left;
	text-indent: 2em;
	margin: 0;
}

/**************************************
** menu
** TODO : gérer en css pur
**************************************/

#menu {
	display: none;
}

.slicknav_menu .slicknav_menutxt {
	background: none;
	float: none;
	display: inline ;
	text-shadow:none;
	font-family: "default";
}

.slicknav_menu{
	background: none;
	padding: 0;
}

.slicknav_icon {
	display: none;	
}

/**************************************
** Cohérence logo
**************************************/

/* TODO : définition de la mise en page du logo */
header .logoBlock a {
	width : 300px;
	height: 50px; 
	text-indent: -9999px;
	background-image: url("../media/logo/logoTA_main_1-2_SF.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* TODO : gestion des transitions */
a.logo_block, .slicknav_btn, .slicknav_menu .slicknav_menutxt {
	cursor: pointer;
	transition: all 0.2s;

	color: #fff;
	text-shadow: 0px 0px 1px #444;
	text-align: center;
	text-transform: capitalize;
	font-family: "default";
	
	background: #FC8E03;
	border-radius: 30px;
	width : 300px;
}

a.logo_block, .slicknav_btn {
	padding: 6px 28px;
	width: 244px;
	height: 38px;
	line-height: 38px;
	font-size: 28px;
}
.slicknav_menu .slicknav_menutxt {
	/*width: 244px;*/
	line-height: 38px;
}
.slicknav_menu ul.slicknav_nav {
	width: 244px;
	padding: 6px 28px;
}

a.logo_block:hover, .slicknav_btn:hover, .slicknav_btn:hover .slicknav_menutxt {
	color: black;
}

.slicknav_menu .slicknav_menutxt {
	/*Fix padding out of height*/
	/*padding: 0; */
}

a.logo_block {
	display: block;
	margin: 1em auto;
}

.slicknav_nav a:hover {
	background: none;
}

.slicknav_btn, .slicknav_menu ul.slicknav_nav {
	margin: 0;
	float: right;
}

.slicknav_menu, .slicknav_menu * {
	/*fix slicknav css*/
	box-sizing: content-box;
}

.slicknav_open {
	border-radius: 30px 30px 0 0;
}

.slicknav_menu ul.slicknav_nav {
	border-radius: 0 0 30px 30px;
	background-color: #fc8e03;
	text-align: center;
	font-size: 1.4em;
}

.slicknav_menu ul.slicknav_nav li a {
	margin: auto;
	padding: 0;
}


/******************************************************
** Responsive : media queries
******************************************************/

@media (max-width:950px) {

	article>h1 {
		margin: 0 auto;
	}
	article .description {
		margin-top: 0;
	}

	article[id]>h1::before, article[id]>h1::after {
		display: none;
	}
	
	div.column {
		margin-top: 4em;
	}

	div.column, 
	.line>*:nth-child(1):nth-last-child(1),
	.line>*:nth-child(1):nth-last-child(2),
	.line>*:nth-child(2):nth-last-child(1),
	.line>*:nth-child(1):nth-last-child(3),
	.line>*:nth-child(2):nth-last-child(2),
	.line>*:nth-child(3):nth-last-child(1) {
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	header {
		background-color: #ECECEC;
	}

	header .logoBlock {
		margin: 0;
		vertical-align: middle;
	}
	
	header .logoBlock h2, #ta_slider, .line img {
		display:none !important;
	}

	header .logoBlock a {
		width : 50px;
		height: 50px;
		text-indent: -9999px;
		background-image: url("../media/logo/logoTA-symbole.svg");
	}

	.slicknav_menu ul.slicknav_nav, a.logo_block, .slicknav_btn {
		width: 150px;
	}

	.slicknav_menu ul.slicknav_nav, a.logo_block, .slicknav_btn, .slicknav_menu .slicknav_menutxt {
		font-weight: 500;
		width : 150px;
		font-size: 1em;
	}

}
